body {
    font-family: 'Courier New', monospace;
    background-color: #1f1f22;
    color: #bbbbbb;
    margin: 15% 20%;
}

h1 {
    font-size: 6em;
}

h2 {
    font-size: 1.5em;
    color: #6D7CBF;
}

img {
    margin-top: 0;
    width: 760px;
    height: auto;
    display: none
}

.highlight {
    color: #bf6d6d;
}

.fa {
    padding: 0 15px 0 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 25%;
    color: #bbbbbb;
}

.fa:hover {
    opacity: 0.7;
}

#intro {
    margin-top: 15%;
}

#intro h1 {
    margin-top: 0;
    margin-bottom: -10px;
}

#intro h2 {
    margin-bottom: 1%
}

#about {
    min-width: 400px;
    max-width: 770px;
}

#contact {
    margin-top: 5%;
}